@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef3c7 ;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(42, 42, 41);
    --foreground: #e6e6e5 ;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}
